@media screen and (min-width: 480px) and (max-width:767px) {
.container {
  width: 428px;
}
}
/* HEADER */


/* HERO */

.hero-section {
   background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/for_tablet/people-office.jpg');
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero-section {
        background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/for_tablet/people-office @2x.jpg');
      }
    }

    .hero-container {
      max-width: 396px;
    }
    /* FEATURES */
.features-list {
  text-align: center;

    /* @media screen and (max-width: 767px) {
  .feature-subtitle {
  text-align: center;
    }
  } */

  /* MOBILE-MENU */
  /* .mobile-navigation-menu {
    max-width: 337px;
    margin-left: 0;
    margin-right: auto;
  } */

  /* CUSTOMERS */

  /* .customers-container,
  .flex-container {
    max-width: 428;
  } */

  /* FOOTER */
  /* .second-logo,
  .footer-social-text,
  .footer-subscribe-text {
    justify-content: center;
  }
  .footer-subscribe {
    width: 100%;
  }

    .footer-subscripe-form {
      gap: 16px;
    }
    .footer-subscribe-button {
      margin: 0 auto;
    } */

/* --------------------------------------------mobil menu---------------- */
/* .container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (min-width: 480px) {
.container {
  width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
}
@media screen and (min-width: 768px) {
  .container {
    widows: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
} */