:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-white-color: #e5e5e5;
  --seconday-white-color: #f4f4fd;
  --pressed-color: #404bbf;
  --button-border: #e7e9fc;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------------------------reset styles-------------------------------------- */
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.02em;
  border: 2px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.no-scroll {
   overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  
  /* padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1158px; */
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* HEADER-SECTION */
.header-section {
  background: var(--primary-white-color);
  border-bottom: 1px solid var(--button-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
}

.nav-section {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  accent-color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
  
}
.accent {
  color: var(--accent-color );
}
.end-logo {
  color: var(--title-text-color);
}
.nav-list {
  display: none;
}
.list-link {
  display: none;
}
/* ======================================================MOBIL MENU ======================================================*/
.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  /* background-color: var(--primary-white-color);*/
  /* transform: translateY(%); */
  transition: transform 1s;
}
 
.mobile-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.menu-btn-open {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: auto; 
}
.menu-icon-open {
  stroke: var(--title-text-color);
}

.menu-close-button {
/* background-color: #FFFFFF; */
 position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--button-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms var(--cubic) ;
}

/* --------------------------- */

/* -------------------------------------- */

.mobile-menu-list {
  display: flex;
  flex-direction: column;
}
.mobile-menu-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  transition: color 250ms var(--cubic);
}
.mobile-menu-link:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--pressed-color);
}
.mobile-contact-list {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-contact-tel-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);
}
.mobile-contact-mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);
}
.mobile-contact-item:hover,
.mobile-contact-item:focus {
  color: var(--accent-color);
}

.mobile-social-list {
  display: flex;
  max-width: 328px;
}
.mobile-social-item {
  width: 40px;
  height: 40px;
}
.mobile-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--cubic);

}
.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--pressed-color)
}
.mobile-social-icon {
  fill: var(--seconday-white-color);
}



/* HERO */

.hero-section {
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/for_mobil/people-office_mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero-section {
        background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/for_mobil/people-office_mob@2x.jpg');
      }
    }

.hero-section {
  max-width: 100%;
}

.container {
  max-width: 100%;
}
.hero-title {
  width: 320px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-white-color);
}
.hero-button {
  font-family: inherit;
  font-size: 16px;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  display: block;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--pressed-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -----------------------------------------Feutures section--------------------------------------- */
.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.visually-hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 72px;
}

.features-icon-box {
  display: none;
}
.feature-subtitle {
  /* width: 396px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.text {
  /* width: 396px; */
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* MISSION_SECTION */
.mission-section {
  display: none;
}

/* TEAM-SECTION */
.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
  /* background: var(--primary-white-color); */
  border-radius: 16px 16px 0px 0px;
  background-color: var(--seconday-white-color);
}

.container {
}
.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  
}
.team-item {
}
.card {
  display: block;
  max-width: 100%;
  height: auto;
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
  width: 264px;
}
.form-card {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.text-description {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.team-link-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}

.team-link-item {
  width: 40px;
  height: 40px;
}
.team-icon-box {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  background-color: var(--accent-color);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.team-icon-box:hover,
.team-icon-box:focus {
  background-color: var(--pressed-color);
  cursor: pointer;
}
.team-icon {
   width: 16px;
  height: 16px;
}
 /* CASTOMERS */

.сustomers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.container {
}
.customers-title {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  /* margin-bottom: 72px; */
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}
.customers-item {
  /* for mob */
  width: 190px;
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover,
.icon:focus {
  fill: var(--pressed-color);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-color);
  fill: var(--pressed-color);
}
.customers-link:hover .icon,
.customers-link:focus .icon {
  fill: var(--pressed-color); 
}


 /* FOOTER */
.footer-logo-section {
  background: var(--title-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.container {
}
.flex-container {
  padding-left: 80px;
  padding-right: 80px;
}
.footer-content-primary {
}
.logo {
  display: block;
  text-align: center;
  accent-color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
}
.second-logo {
   margin-bottom: 16px;
}

.footer-logo {
  color: var(--primary-white-color);
}
.text-logo {
  width: 268px;
  height: 72px;
  text-align: left;
  align-items: center;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-border);
  margin-bottom: 72px;
  
  
}
.footer-content-social {
  
}
.footer-social-text {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.footer-social-item {
  /* width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center; */
  width: 40px;
  height: 40px;
  margin-bottom: 72px;
  /* border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  */
}
.footer-social-icon-box {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
}
.footer-social-icon {
  width: 24px;
  height: 24px;
}
.footer-social-item:hover,
.footer-social-item:focus {
  background-color: #31D0AA;
} 

.footer-subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}
.footer-subscribe-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}
.footer-subscripe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-subscribe-form-field {
  
}
.footer-form-input {
  /* width: 264px; */
  align-items: center;
  width: 398px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 16px;
}
.footer-subscribe-button {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  width: 165px;
  height:40px;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border-radius: 4px;
  padding: 8px 24px;
  gap: 16px;  
  border-color: transparent;
  margin-left: 24px;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}
.footer-subscribe-button:hover,
.footer-subscribe-button :focus {
  background-color: var(--pressed-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-subscribe-button-icon {
  width: 24px;
  height: 20px;
}


/* BACKDROP */
.backdrop {
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width:408px;
  height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FCFCFC;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--button-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms var(--cubic) ;
}
.modal-close-button:hover,
.modal-close-button:hover {
  background-color: var(--pressed-color);
}
.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:hover .modal-close-button-icon {
  fill: var(--primary-white-color) ;
}
.modal-close-button-icon {
  transition: fill 250ms var(--cubic);
}
/* ---------------------------------Modal Form--------------------------------------------- */
/* modal form - строчный элемент, далаем его блочным и переворачиваем по вертикали */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
  color: var(--title-text-color);
}
.modal-form-field {
  margin-bottom: 8px;
}
/* span-строчный эл-т, нельзя задавать w & h, задаем display: block; */
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 4px;
  color: #8E8F99;
}
.modal-form-input-wrapper {
  position: relative;
}
/* Необх, чтоб span & input шли один под другим. Несколько вар:1) сделать span блочным(db), можно на label задать флексы(df;fdc;,
 imput- стр-бл элемент, а стр-бл можно задавать w; h; и отступы. input должны быть на всю ширину  form , т.е. должен встать на 100% ширины род.элемента */
 .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    color: #000000;
    transition: border color 250ms var(--cubic);
}
.modal-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translate(0, -50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--cubic);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}
.modal-form-message {
  width: 360px; 
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border color 250ms var(--cubic);
}
.privacy-policy {
  text-decoration: underline;
  color: var(--accent-color);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.33;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  border-color: var(--accent-color);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 16px;
  color: #757575;
}
.modal-form-check-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid #303030;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  border: 1.25px solid var(--pressed-color);
  background-repeat: no-repeat;
  background-position:  50% 50%;
  background-size: 10px 8px;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: auto;
  border: var(--pressed-color);
}
.modal-form-submit {
  min-width: 169px;
  height: 56px; 
  padding: 16px 32px;
  margin: 0 auto;
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  align-self: center;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em; 
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
  background-color: var(--accent-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--pressed-color);
    color: var(--primary-white-color);
}