@media screen and (min-width:768px) and (max-width: 1199px){
    .container {
    max-width: 767px;
    }
}
/* HEADER */
@media screen and (min-width: 768px) {
.header-section {
  background: var(--primary-white-color);
  border-bottom: 1px solid var(--button-border);
}
.container {
  margin: 0 auto;
  padding: 0 16px;
}
.header-list {
  display: flex;
  justify-content: center;
}
/* .nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list > .nav-item:not(:last-child) {
    margin-right: 40px;
  }

.list-link {
  margin-left: 120px;
  /* margin-left: 332px; */
}
.logo {
   margin-right: 120px;
}
.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}
.nav-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--cubic);
}
.link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}
.link::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current-link {
  color: var(--pressed-color);
  position: relative;
}
.current-link::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--pressed-color);
  transform: scaleX(1);
}
.list-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  padding-top: 16px;
  padding-bottom: 16px;
}
.link-primary,
.link-secondary {
  display: block;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  /* line-height: 1.5; */
  letter-spacing: 0.04em;
  /* letter-spacing: 0.02em; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-link a:hover,
.list-link a:focus {
  color: var(--accent-color);
}
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
}
 .feature-item {
  width: 264px;
  height: 112px;
  flex-basis: calc((100% - 24px) / 2);
 }
}


